name: Create pre-release

on:
  workflow_dispatch:

jobs:
  bump_version:
    name: Bump version
    runs-on: [ubuntu-latest]
    outputs:
      tag: ${{ steps.generate_tag.outputs.tag }}

    steps:
      - name: Check out branch
        uses: actions/checkout@v4
        # https://github.com/actions/checkout
        with:
          ref: main
          token: ${{ secrets.BUILD_TOKEN }}

      - name: Bump version and generate tag
        uses: TriPSs/conventional-changelog-action@v5
        # https://github.com/TriPSs/conventional-changelog-action
        id: generate_tag
        with:
          git-user-name: "bmx-machine"
          git-user-email: "bmx-machine@butterflymx.com"
          github-token: ${{ secrets.BUILD_TOKEN }}
          release-count: 10

  create_pre_release:
    name: Create pre-release
    runs-on: [ubuntu-latest]
    needs: [bump_version]

    steps:
      - name: Check out tag
        uses: actions/checkout@v4
        # https://github.com/actions/checkout
        with:
          ref: ${{ needs.bump_version.outputs.tag }}

      - name: Create pre-release
        uses: softprops/action-gh-release@v2
        # https://github.com/softprops/action-gh-release
        with:
          body_path: ./CHANGELOG.md
          prerelease: true
          tag_name: ${{ needs.bump_version.outputs.tag }}
